<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tyson.trackatrail" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".TrackATrail"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:parentActivityName=".TrackATrail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tyson.trackatrail.TrackATrail" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".SaveRouteActivity"
            android:label="@string/title_activity_save_route" >
        </activity>
        <activity
            android:name=".RouteManagerActivity"
            android:label="@string/route_manager"
            android:parentActivityName=".TrackATrail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tyson.trackatrail.TrackATrail" />
        </activity>
    </application>

</manifest>
